<header class="header-base">
  <mat-toolbar color="primary"></mat-toolbar>
</header>
<header class="header">
  <mat-toolbar color="primary">
    <span routerLink="/home">H & C Game store</span>
    <button
      mat-icon-button
      style="margin-left: auto"
      matTooltip="Reset DB"
      routerLinkActive="is-active"
      (click)="resetDB()"
    >
      <mat-icon>database</mat-icon>
    </button>
    @if(self|async; as a) { @if(a.type != 'EMPLOYEE'){
    <a mat-icon-button matTooltip="Shopping Cart" routerLinkActive="is-active">
      <mat-icon [matBadge]="cartTotal | async">shopping_cart</mat-icon>
    </a>
    } }
    <a
      mat-icon-button
      routerLink="/products"
      matTooltip="Products"
      routerLinkActive="is-active"
    >
      <mat-icon>videogame_asset</mat-icon>
    </a>
    @if(isAuth|async) {
    <a
      mat-icon-button
      routerLink="/profile"
      routerLinkActive="is-active"
      [matTooltip]="(name | async) ?? ''"
    >
      <mat-icon>shield_person</mat-icon>
    </a>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    } @else {
    <button mat-icon-button (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
    }
  </mat-toolbar>
</header>
<main class="main">
  <router-outlet />
</main>
<footer class="footer t2nd">
  <mat-toolbar color="primary">
    @if(self|async; as a) { @if(a.type != 'EMPLOYEE'){
    <button
      style="margin-left: auto"
      mat-icon-button
      matTooltip="Send ticket"
      (click)="sendTicket()"
    >
      <mat-icon>help</mat-icon>
    </button>
    }}</mat-toolbar
  >
</footer>
<footer class="footer-base t2nd">
  <mat-toolbar color="primary"> </mat-toolbar>
</footer>
